# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data / Output (Scraping & NLP)
tononkira_rehetra/output/
tononkira_rehetra/artists.json
tononkira_rehetra/malagasy_lyrics_corpus.txt
tononkira_rehetra/malagasy_lyrics_cleaned.txt
output/
output_test/
*.zip
*.log

# IDE
.vscode/
.idea/
.DS_Store

# Git
.git/
